<div ng-controller="navigationController">
    <navigation objects="navItems.menu" current="currentLocation" style-of="menu"></navigation>
</div>

<div id="contents" class="row"> <!-- start of contents -->
    <h2><span>Drinks</span></h2>
    <div id="menus">
        <div class="row">
            <div class="col-md-6">
                <h3>Vestibulum Scelerisque</h3>
                <ul>
                    <li class="col-md-6">
                        <span class="price">$9.78</span>
                        Lorem ipsum
                        <p>Praesent pretium venenatis nunc, eget porttitor tekkus dignissim et.</p>
                    </li>
                    <li class="col-md-6">
                        <span class="price">$9.78</span>
                        Lorem ipsum
                        <p>Praesent pretium venenatis nunc, eget porttitor tekkus dignissim et.</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3>Vestibulum Scelerisque</h3>
                <ul>
                    <li class="col-md-6">
                        <span class="price">$9.78</span>
                        Dolor sit amet
                        <p>Suspendisse potenti. Phasellus ac nibh massa. Etiam a enim est.</p>
                    </li>
                    <li class="col-md-6">
                        <span class="price">$9.78</span>
                        Dolor sit amet
                        <p>Suspendisse potenti. Phasellus ac nibh massa. Etiam a enim est.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>