<div ng-controller="navigationController">
    <navigation objects="navItems.home" current="currentLocation"></navigation>
</div>
<div id="body" class="row">
        <div class="col-md-12">
    <ul id="featured">
        <!-- start of featured -->
        <li class="main">
            <a href="#menu/main-dishes"></a>
        </li>
        <li class="drinks">
            <a href="#menu/drinks"></a>
        </li>
        <li class="entree">
            <a href="#menu/entree"></a>
        </li>
        <li class="desserts">
            <a href="#menu/desserts"></a>
        </li>
    </ul>
    <!-- end of featured -->
</div>
</div>