<div id="contents"> <!-- start of contents -->
    <h2 class="booking"><span>Book an Event</span></h2>
    <div id="booking">
        <form action="" method="">
            <table>
                <tbody>
                <tr>
                    <td colspan="2"><span>Your Name</span><input type="text" class="name"></td>
                    <td><span>Your Email</span><input type="text"></td>
                </tr>
                <tr>
                    <td><span>Date</span><input type="text"></td>
                    <td><span>No. of people</span><input type="text"  class="number"></td>
                    <td>
                        <span>Room Preference</span>
                        <label for="outdoor"><input type="radio" class="radio" id="outdoor" name="preference">Outdoor</label>
                        <label for="indoor"><input type="radio" class="radio" id="indoor" name="preference">Indoor</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <span>Is this a special occasion? Please tell us here?</span>
                        <textarea></textarea>
                        <input type="submit" value="Submit" class="button">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        <p>
            This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free.
            You can replace all this text with your own text.You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
            If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>.
        </p>
    </div>
</div>